body {
    overflow-x: hidden;
}

iframe {
    border: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: #fff;
    padding: 10px 10px 10px;

    .nav-link {
        font-size: 1.1rem;
        font-weight: bold;
        text-transform:capitalize;
    }
    .nav-link .badge {
        margin-left: 0.5rem;
        vertical-align: text-bottom;
    }
}

.dropdown-menu.chara {
    overflow-y: scroll;
    height: 400px;
    overflow-x: hidden;
}


.modal-dialog {
    max-width: 600px;
}

.filter-list {
    position: fixed;
    top: 3.8rem;
    left: 10px;
    width: 100%;
    z-index: 1;
    background: #fff;
}

.filter-list > div {
    float: left;
    margin-right: 5px;
}

#nav-tabContent {
    margin: 6.5rem 10px 10px 10px;
}

.event-banner {
    max-width: 170px;
    max-height: 146px;
    box-sizing: border-box;
}



.col-auto {
    max-width: 50%;
}

.col-auto + .col-auto {
    padding-left:0px;
    padding-right:10px;
}

.movie-list .card {
    margin-bottom: 10px;
}
.modal-title {
    font-size: 1.5rem;
}

.modal-banner {
    padding: 1rem;
}

.card-title {
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.card-body {
    padding: 0.3rem 0.4rem 0.3rem 0.5rem;


    button a {
        color: #fff
    }
    .btn {
        /*font-size: 0.8rem;*/
    }
    .badge {
        font-size:0.8rem
    }
    p, h5 {
        margin-bottom: 0.5rem;
    }
    a {
        margin-right: 5px;
    }
    .btn-block {
        margin-bottom: 0;
    }
    p.date {
        font-size:0.8rem;
    }
    p.date span {
        vertical-align: top;
        margin-left: 5px;
    }
}

.card-body + .card-body {
    padding-top: 0;
}

.card-body .list  {
    padding-left: 0;
    li {
        margin-bottom: 0.5rem;
        list-style-type: none;
    }
    a {
        margin-right: 0
    }
    a:hover {
        text-decoration: none;
    }
}

.card-body .list .title {
    display: inline-block;

}

.modal-history {
    padding: 1rem;

    .list-group-item {
        line-height: 1rem;
    }
}

.btn-group {
    margin-bottom: 5px;
}


#topbutton {
    position: fixed;
    right: 5px;
    bottom: 5px;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0.5;
}
#topbutton:hover {
    opacity: 1.0;
}
