p, div {
    /*line-height: 2rem;*/
}
/*
.bg_skin {
    background-color: #fff6e9;
}
.bg_white {
    background-color: #fff;
}
.pink {
    color: #ec23c4;
}
.red {
    color: #e61836;
}
.navy {
    color: #3f58d9;
}
.yellow {
    color: #6c7900;
}
.purple {
    color: #7727ee;
}
.skyblue {
    color: #2399ec;
}
.orange {
    color: #de5900;
}
.bold {
    font-weight: bold;
}*/
img { /* あらすじ画像の隙間対策 */
    /* margin-top: -0.4rem !important;*/
}
.event-date {
    background-color: #525252;
    color: #fff;
    text-align: center;
    padding: .05rem .3rem;
    font-weight: bold;
    font-size: 90%;
}